* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html,
body {
    background-color: #212121;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

h1,
h2,
a,
li {
    color: white;
}

/* Navbar */
header {
    border-bottom: 1px solid black;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo-text {
    font-size: 20px;
}

.nav-links {
    display: inline-block;
}

.nav-links li {
    display: inline;
    gap: 5px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 1rem 1em;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Main */
/* profile-card */
#profile-card {
    display: flex;
    margin: 150px auto;
    width: 1100px;
    overflow: hidden;
    /* outline: 1px solid red; */
}

#profile-card img {
    width: 33%;
    display: block;
    border-radius: 22%;
    user-select: none;
}

#profile-text {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px 50px;
}

#profile-text h1 {
    font-size: 3rem;
}

#profile-text h2 {
    font-size: 25px;
}

#profile-text button {
    width: 150px;
    height: 50px;
    font-size: 25px;
    border: none;
    border-radius: 12px;
    margin: auto 0;
    cursor: pointer;
}

/* skills-card */
#skills-card {
    /* outline: 1px solid red; */
    margin: 0 auto;
    margin-top: 150px;
    width: 1100px;
    height: fit-content;
}

#skills-card h1 {
    font-size: 2.5rem;
    padding: 15px 50px;
}

#skills-list {
    /* outline: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    list-style-position: inside;
}

#skills-list li {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 12px;
    font-size: 2rem;
    margin: 10px;
    padding: 10px 20px;
    list-style-type: none;
    width: fit-content;
}

.skill-img {
    display: block;
    padding-right: 10px;
    height: 2rem;
    align-self: center;
}

@media (max-width: 1250px) {
    #profile-card {
        width: 88%;
    }

    #skills-card {
        width: 88%;
    }
}

@media (max-width: 950px) {
    #profile-card {
        margin: 100px auto;
        flex-direction: column;
        width: 100%;
    }

    #profile-card img {
        width: 250px;
        margin: 0 auto;
    }

    #profile-card button {
        margin-top: 15px;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-links {
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #212121;
        transition: 0.3s;
    }

    .nav-links li {
        display: block;
        margin: 15px auto;
    }

    .nav-links.active {
        left: 0;
    }
}
